### Import Libraries

In [1]:
#IMPORT LIBRARIES

import pandas as pd  # library used for data science/data analysis and machine learning tasks
import numpy as np  # library used for working with arrays, math functions, linear algebra, fourier transform, matrices, and others.
import seaborn as sns  # library for making statistical graphics in Python.
import matplotlib.pyplot as plt  # library for plot visualizations

# command for drawing  plots immediately after the current cell (show more than only one graph)
%matplotlib inline 

import os  # used here to access filedir functions
import datetime  # functions for manipulating date
import random  # functions for generating or manipulating random integers

#from scipy.stats import poisson  # Statistic poisson library

# Scikit-learn is a machine learning library. Contains functions for regression, classification and clustering algorithms.
#from sklearn import linear_model
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import r2_score

# Remove Warnings 
import warnings
warnings.filterwarnings('ignore')

.

# Data Undersanding

### House Construction Cost

In [2]:
#Ireland_Construction_Cost_Index_HSA09.20230502094108.csv - INDEX = Jan/1991
#Germany_Construction_Cost_Index_OPCNRE01DEQ661N.csv      - INDEX = 2015
#Italy_Construction_Cost_Index_OPCNRE01ITM661N.csv        - INDEX = 2015

#opening datasets with construction cost values
df_Ireland_Construction_Cost = pd.read_csv('Ireland_Construction_Cost_Index_HSA09.20230502094114.csv') 
df_Germany_Construction_Cost = pd.read_csv("Germany_Construction_Cost_Index_OPCNRE01DEQ661N.csv");
df_Italy_Construction_Cost = pd.read_csv("Italy_Construction_Cost_Index_OPCNRE01ITM661N.csv");

In [3]:
df_Ireland_Construction_Cost

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02196V02652,State,UNIT,VALUE
0,HSA09,House Construction Cost Index,1975,1975,-,State,Base Jan 1991=100,20.0
1,HSA09,House Construction Cost Index,1976,1976,-,State,Base Jan 1991=100,22.9
2,HSA09,House Construction Cost Index,1977,1977,-,State,Base Jan 1991=100,26.9
3,HSA09,House Construction Cost Index,1978,1978,-,State,Base Jan 1991=100,29.6
4,HSA09,House Construction Cost Index,1979,1979,-,State,Base Jan 1991=100,34.2
5,HSA09,House Construction Cost Index,1980,1980,-,State,Base Jan 1991=100,42.3
6,HSA09,House Construction Cost Index,1981,1981,-,State,Base Jan 1991=100,50.4
7,HSA09,House Construction Cost Index,1982,1982,-,State,Base Jan 1991=100,57.4
8,HSA09,House Construction Cost Index,1983,1983,-,State,Base Jan 1991=100,62.2
9,HSA09,House Construction Cost Index,1984,1984,-,State,Base Jan 1991=100,68.4
10,HSA09,House Construction Cost Index,1985,1985,-,State,Base Jan 1991=100,76.1
11,HSA09,House Construction Cost Index,1986,1986,-,State,Base Jan 1991=100,81.7
12,HSA09,House Construction Cost Index,1987,1987,-,State,Base Jan 1991=100,84.8
13,HSA09,House Construction Cost Index,1988,1988,-,State,Base Jan 1991=100,88.2
14,HSA09,House Construction Cost Index,1989,1989,-,State,Base Jan 1991=100,94.2
15,HSA09,House Construction Cost Index,1990,1990,-,State,Base Jan 1991=100,98.6
16,HSA09,House Construction Cost Index,1991,1991,-,State,Base Jan 1991=100,102.2
17,HSA09,House Construction Cost Index,1992,1992,-,State,Base Jan 1991=100,104.7
18,HSA09,House Construction Cost Index,1993,1993,-,State,Base Jan 1991=100,107.3
19,HSA09,House Construction Cost Index,1994,1994,-,State,Base Jan 1991=100,111.0
20,HSA09,House Construction Cost Index,1995,1995,-,State,Base Jan 1991=100,114.7
21,HSA09,House Construction Cost Index,1996,1996,-,State,Base Jan 1991=100,116.3
22,HSA09,House Construction Cost Index,1997,1997,-,State,Base Jan 1991=100,120.4
23,HSA09,House Construction Cost Index,1998,1998,-,State,Base Jan 1991=100,124.9
24,HSA09,House Construction Cost Index,1999,1999,-,State,Base Jan 1991=100,131.0
25,HSA09,House Construction Cost Index,2000,2000,-,State,Base Jan 1991=100,141.0
26,HSA09,House Construction Cost Index,2001,2001,-,State,Base Jan 1991=100,161.5
27,HSA09,House Construction Cost Index,2002,2002,-,State,Base Jan 1991=100,171.8
28,HSA09,House Construction Cost Index,2003,2003,-,State,Base Jan 1991=100,176.5
29,HSA09,House Construction Cost Index,2004,2004,-,State,Base Jan 1991=100,181.5
30,HSA09,House Construction Cost Index,2005,2005,-,State,Base Jan 1991=100,186.9
31,HSA09,House Construction Cost Index,2006,2006,-,State,Base Jan 1991=100,194.2
32,HSA09,House Construction Cost Index,2007,2007,-,State,Base Jan 1991=100,201.7
33,HSA09,House Construction Cost Index,2008,2008,-,State,Base Jan 1991=100,209.4
34,HSA09,House Construction Cost Index,2009,2009,-,State,Base Jan 1991=100,206.5
35,HSA09,House Construction Cost Index,2010,2010,-,State,Base Jan 1991=100,208.7
36,HSA09,House Construction Cost Index,2011,2011,-,State,Base Jan 1991=100,203.1
37,HSA09,House Construction Cost Index,2012,2012,-,State,Base Jan 1991=100,203.5
38,HSA09,House Construction Cost Index,2013,2013,-,State,Base Jan 1991=100,204.7
39,HSA09,House Construction Cost Index,2014,2014,-,State,Base Jan 1991=100,206.0
40,HSA09,House Construction Cost Index,2015,2015,-,State,Base Jan 1991=100,207.1
41,HSA09,House Construction Cost Index,2016,2016,-,State,Base Jan 1991=100,208.2

In [4]:
df_Germany_Construction_Cost

           DATE  OPCNRE01DEQ661N
0    1960-01-01             13.6
1    1960-04-01             14.0
2    1960-07-01             14.2
3    1960-10-01             14.3
4    1961-01-01             14.6
..          ...              ...
247  2021-10-01            132.3
248  2022-01-01            138.1
249  2022-04-01            147.2
250  2022-07-01            151.0
251  2022-10-01            154.7

[252 rows x 2 columns]

In [5]:
df_Italy_Construction_Cost

           DATE  OPCNRE01ITM661N
0    1967-01-01         3.132876
1    1967-02-01         3.142001
2    1967-03-01         3.142001
3    1967-04-01         3.145042
4    1967-05-01         3.148084
..          ...              ...
668  2022-09-01       122.630658
669  2022-10-01       123.230808
670  2022-11-01       123.330833
671  2022-12-01       123.330833
672  2023-01-01       123.330833

[673 rows x 2 columns]

### Total Construction

In [6]:
#Ireland_Construction_Total_Construction_Quarter_PRCNTO01IEQ659S.csv  - INDEX = Growth rate same period previous year
#Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv  - INDEX = 2015
#Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv    - INDEX = 2015

#opening datasets with construction Total values
df_Ireland_Construction_Total = pd.read_csv('Ireland_Construction_Total_Construction_Quarter_PRCNTO01IEQ659S.csv') 
df_Germany_Construction_Total = pd.read_csv("Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv");
df_Italy_Construction_Total = pd.read_csv("Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv");

In [7]:
df_Ireland_Construction_Total

          DATE  PRCNTO01IEQ659S
0   2001-01-01         5.204819
1   2001-04-01         4.170528
2   2001-07-01        -2.572062
3   2001-10-01         3.888381
4   2002-01-01         3.664682
..         ...              ...
83  2021-10-01         0.213828
84  2022-01-01        23.181818
85  2022-04-01         6.823721
86  2022-07-01        -2.048558
87  2022-10-01       -11.024182

[88 rows x 2 columns]

In [8]:
df_Germany_Construction_Total

           DATE  DEUPROCONMISMEI
0    1962-01-01        77.479509
1    1962-02-01        73.204260
2    1962-03-01        71.104138
3    1962-04-01        66.378863
4    1962-05-01        68.628994
..          ...              ...
728  2022-09-01       130.910909
729  2022-10-01       135.311276
730  2022-11-01       135.711309
731  2022-12-01       122.810234
732  2023-01-01       135.611301

[733 rows x 2 columns]

In [9]:
df_Italy_Construction_Total

           DATE  ITAPROCONQISMEI
0    1995-01-01       111.500000
1    1995-04-01       112.366667
2    1995-07-01       115.033333
3    1995-10-01       121.933333
4    1996-01-01       110.666667
..          ...              ...
107  2021-10-01       129.766667
108  2022-01-01       137.400000
109  2022-04-01       137.900000
110  2022-07-01       133.633333
111  2022-10-01       136.466667

[112 rows x 2 columns]

### Construction Employment

In [10]:
#Ireland_Construction_Employment_LFEACNTTIEQ647S.csv
#Germany_Construction_Employment_LFEACNTTDEQ647S.csv
#Italy_Construction_Employment_LFEACNTTITQ647S.csv

#opening datasets with construction employment values
df_Ireland_Construction_Employment = pd.read_csv('Ireland_Construction_Employment_LFEACNTTIEQ647S.csv') 
df_Germany_Construction_Employment = pd.read_csv("Germany_Construction_Employment_LFEACNTTDEQ647S.csv");
df_Italy_Construction_Employment = pd.read_csv("Italy_Construction_Employment_LFEACNTTITQ647S.csv");

In [11]:
df_Ireland_Construction_Employment

          DATE  LFEACNTTIEQ647S
0   1998-04-01    126229.425842
1   1998-07-01    128836.901138
2   1998-10-01    132480.413852
3   1999-01-01    137135.455495
4   1999-04-01    142543.398618
..         ...              ...
94  2021-10-01    152838.737068
95  2022-01-01    160361.689728
96  2022-04-01    167792.586137
97  2022-07-01    167830.669575
98  2022-10-01    164815.054559

[99 rows x 2 columns]

In [12]:
df_Germany_Construction_Employment

          DATE  LFEACNTTDEQ647S
0   2005-01-01     2.344554e+06
1   2005-04-01     2.415815e+06
2   2005-07-01     2.378816e+06
3   2005-10-01     2.443815e+06
4   2006-01-01     2.374848e+06
..         ...              ...
67  2021-10-01     2.479702e+06
68  2022-01-01     2.406048e+06
69  2022-04-01     2.508794e+06
70  2022-07-01     2.689579e+06
71  2022-10-01     2.704679e+06

[72 rows x 2 columns]

In [13]:
df_Italy_Construction_Employment

          DATE  LFEACNTTITQ647S
0   1998-01-01     1.542675e+06
1   1998-04-01     1.539075e+06
2   1998-07-01     1.541535e+06
3   1998-10-01     1.552514e+06
4   1999-01-01     1.551610e+06
..         ...              ...
95  2021-10-01     1.487452e+06
96  2022-01-01     1.509694e+06
97  2022-04-01     1.565436e+06
98  2022-07-01     1.561324e+06
99  2022-10-01     1.566245e+06

[100 rows x 2 columns]

# Data Preparation

## House Construction Cost

.

In [14]:
# Default values to House Construction Cost
# INDEX = 1975 
# Range = 1975 to 2016
# Period = years

### Ireland Construction Cost

In [15]:
#IRELAND HOUSE CONSTRUCTION COST

df_Ireland_Construction_Cost = pd.read_csv('Ireland_Construction_Cost_Index_HSA09.20230502094114.csv') 

#Removing the uselles collumns from our datset
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('STATISTIC', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('STATISTIC Label', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('TLIST(A1)', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('C02196V02652', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('UNIT', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('State', axis=1)

#Rename Colloumn as a main value
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.rename({'VALUE': 'Ireland_Construction_Cost'}, axis=1)

#Recalc the index to be 1975 instead 1991

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Ireland_Construction_Cost.iterrows():
    if int(row['Year']) == 1975: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Ireland_Construction_Cost'])
        df_Ireland_Construction_Cost.at[i,'Ireland_Construction_Cost'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Ireland_Construction_Cost']) * 100 / firstValue
        df_Ireland_Construction_Cost.at[i,'Ireland_Construction_Cost'] = newValue

# Reset Index to equalize after the drops
df_Ireland_Construction_Cost.reset_index(drop=True, inplace=True) 
 
#Convert Year to Int type
df_Ireland_Construction_Cost['Year'] = df_Ireland_Construction_Cost['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Ireland_Construction_Cost['Ireland_Construction_Cost'] = round(df_Ireland_Construction_Cost['Ireland_Construction_Cost'], 0).astype(float);

In [16]:
df_Ireland_Construction_Cost

    Year  Ireland_Construction_Cost
0   1975                      100.0
1   1976                      114.0
2   1977                      134.0
3   1978                      148.0
4   1979                      171.0
5   1980                      212.0
6   1981                      252.0
7   1982                      287.0
8   1983                      311.0
9   1984                      342.0
10  1985                      380.0
11  1986                      408.0
12  1987                      424.0
13  1988                      441.0
14  1989                      471.0
15  1990                      493.0
16  1991                      511.0
17  1992                      524.0
18  1993                      536.0
19  1994                      555.0
20  1995                      574.0
21  1996                      582.0
22  1997                      602.0
23  1998                      624.0
24  1999                      655.0
25  2000                      705.0
26  2001                      808.0
27  2002                      859.0
28  2003                      882.0
29  2004                      908.0
30  2005                      934.0
31  2006                      971.0
32  2007                     1008.0
33  2008                     1047.0
34  2009                     1032.0
35  2010                     1044.0
36  2011                     1016.0
37  2012                     1018.0
38  2013                     1024.0
39  2014                     1030.0
40  2015                     1036.0
41  2016                     1041.0

### Germany Construction Cost

In [17]:
#GERMANY HOUSE CONSTRUCTION COST

df_Germany_Construction_Cost = pd.read_csv("Germany_Construction_Cost_Index_OPCNRE01DEQ661N.csv");

#Remove the different years from 1975 to 2016:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Construction_Cost.iterrows():
    df_Germany_Construction_Cost.at[i,'Year'] = df_Germany_Construction_Cost.at[i,'DATE'][0:4]
    df_Germany_Construction_Cost.at[i,'Month'] = df_Germany_Construction_Cost.at[i,'DATE'][5:7]
    if int(df_Germany_Construction_Cost.at[i,'Year']) < 1975 or int(df_Germany_Construction_Cost.at[i,'Year']) > 2016 or int(df_Germany_Construction_Cost.at[i,'Month']) < 10:
        df_Germany_Construction_Cost.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Germany_Construction_Cost = df_Germany_Construction_Cost.drop('DATE', axis=1)
df_Germany_Construction_Cost = df_Germany_Construction_Cost.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Germany_Construction_Cost = df_Germany_Construction_Cost.rename({'OPCNRE01DEQ661N': 'Germany_Construction_Cost'}, axis=1)
df_Germany_Construction_Cost = df_Germany_Construction_Cost.rename({'DATE': 'Year'}, axis = 1)

#Recalc the index to be 1975 instead 2015

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Construction_Cost.iterrows():
    if int(row['Year']) == 1975: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Germany_Construction_Cost'])
        df_Germany_Construction_Cost.at[i,'Germany_Construction_Cost'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Germany_Construction_Cost']) * 100 / firstValue
        df_Germany_Construction_Cost.at[i,'Germany_Construction_Cost'] = newValue

# Reset Index to equalize after the drops
df_Germany_Construction_Cost.reset_index(drop=True, inplace=True)


#Convert Year to Int type
df_Germany_Construction_Cost['Year'] = df_Germany_Construction_Cost['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Germany_Construction_Cost['Germany_Construction_Cost'] = round(df_Germany_Construction_Cost['Germany_Construction_Cost'], 0).astype(float);

In [18]:
df_Germany_Construction_Cost

    Germany_Construction_Cost  Year
0                       100.0  1975
1                       105.0  1976
2                       109.0  1977
3                       117.0  1978
4                       129.0  1979
5                       141.0  1980
6                       148.0  1981
7                       150.0  1982
8                       155.0  1983
9                       158.0  1984
10                      158.0  1985
11                      161.0  1986
12                      164.0  1987
13                      168.0  1988
14                      175.0  1989
15                      187.0  1990
16                      201.0  1991
17                      212.0  1992
18                      221.0  1993
19                      226.0  1994
20                      230.0  1995
21                      229.0  1996
22                      227.0  1997
23                      227.0  1998
24                      226.0  1999
25                      227.0  2000
26                      226.0  2001
27                      227.0  2002
28                      227.0  2003
29                      231.0  2004
30                      232.0  2005
31                      240.0  2006
32                      254.0  2007
33                      261.0  2008
34                      262.0  2009
35                      266.0  2010
36                      273.0  2011
37                      280.0  2012
38                      285.0  2013
39                      290.0  2014
40                      294.0  2015
41                      301.0  2016

### Italy Construction Cost

.

In [19]:
#ITALY HOUSE CONSTRUCTION COST

df_Italy_Construction_Cost = pd.read_csv("Italy_Construction_Cost_Index_OPCNRE01ITM661N.csv");

#Remove the different years from 1975 to 2016:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Construction_Cost.iterrows():
    df_Italy_Construction_Cost.at[i,'Year'] = df_Italy_Construction_Cost.at[i,'DATE'][0:4]
    df_Italy_Construction_Cost.at[i,'Month'] = df_Italy_Construction_Cost.at[i,'DATE'][5:7]
    if int(df_Italy_Construction_Cost.at[i,'Year']) < 1975 or int(df_Italy_Construction_Cost.at[i,'Year']) > 2016 or int(df_Italy_Construction_Cost.at[i,'Month']) < 12:
        df_Italy_Construction_Cost.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Italy_Construction_Cost = df_Italy_Construction_Cost.drop('DATE', axis=1)
df_Italy_Construction_Cost = df_Italy_Construction_Cost.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Italy_Construction_Cost = df_Italy_Construction_Cost.rename({'OPCNRE01ITM661N': 'Italy_Construction_Cost'}, axis=1)
df_Italy_Construction_Cost = df_Italy_Construction_Cost.rename({'DATE': 'Year'}, axis=1)

#Recalc the index to be 1975 instead 2015

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Construction_Cost.iterrows():
    if int(row['Year']) == 1975: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Italy_Construction_Cost'])
        df_Italy_Construction_Cost.at[i,'Italy_Construction_Cost'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Italy_Construction_Cost']) * 100 / firstValue
        df_Italy_Construction_Cost.at[i,'Italy_Construction_Cost'] = newValue

# Reset Index to equalize after the drops
df_Italy_Construction_Cost.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Italy_Construction_Cost['Year'] = df_Italy_Construction_Cost['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Italy_Construction_Cost['Italy_Construction_Cost'] = round(df_Italy_Construction_Cost['Italy_Construction_Cost'], 0).astype(float);

In [20]:
df_Italy_Construction_Cost

    Italy_Construction_Cost  Year
0                     100.0  1975
1                     127.0  1976
2                     146.0  1977
3                     169.0  1978
4                     210.0  1979
5                     260.0  1980
6                     314.0  1981
7                     363.0  1982
8                     405.0  1983
9                     432.0  1984
10                    468.0  1985
11                    483.0  1986
12                    514.0  1987
13                    542.0  1988
14                    579.0  1989
15                    635.0  1990
16                    692.0  1991
17                    704.0  1992
18                    722.0  1993
19                    743.0  1994
20                    763.0  1995
21                    784.0  1996
22                    799.0  1997
23                    786.0  1998
24                    801.0  1999
25                    826.0  2000
26                    840.0  2001
27                    872.0  2002
28                    896.0  2003
29                    946.0  2004
30                    972.0  2005
31                   1003.0  2006
32                   1036.0  2007
33                   1076.0  2008
34                   1079.0  2009
35                   1103.0  2010
36                   1135.0  2011
37                   1158.0  2012
38                   1161.0  2013
39                   1165.0  2014
40                   1169.0  2015
41                   1173.0  2016

### All Countries Construction Cost

In [21]:
# Now its time to merge the datasets about cost
# 
#df_Ireland_Construction_Cost 
#df_Germany_Construction_Cost 
#df_Italy_Construction_Cost

#df_All_Countries_Construction_Cost = pd.concat([df_Ireland_Construction_Cost, df_Germany_Construction_Cost, df_Italy_Construction_Cost], on = 'Year') # append each CSV to the same Dataset

df1 = pd.DataFrame.merge(df_Ireland_Construction_Cost,df_Germany_Construction_Cost,on='Year')
df_All_Countries_Construction_Cost = pd.DataFrame.merge(df1, df_Italy_Construction_Cost,on='Year')

In [22]:
df_All_Countries_Construction_Cost

,Year,Ireland_Construction_Cost,Germany_Construction_Cost,Italy_Construction_Cost
0,1975,100.0,100.0,100.0
1,1976,114.0,105.0,127.0
2,1977,134.0,109.0,146.0
3,1978,148.0,117.0,169.0
4,1979,171.0,129.0,210.0
5,1980,212.0,141.0,260.0
6,1981,252.0,148.0,314.0
7,1982,287.0,150.0,363.0
8,1983,311.0,155.0,405.0
9,1984,342.0,158.0,432.0
10,1985,380.0,158.0,468.0
11,1986,408.0,161.0,483.0
12,1987,424.0,164.0,514.0
13,1988,441.0,168.0,542.0
14,1989,471.0,175.0,579.0
15,1990,493.0,187.0,635.0
16,1991,511.0,201.0,692.0
17,1992,524.0,212.0,704.0
18,1993,536.0,221.0,722.0
19,1994,555.0,226.0,743.0
20,1995,574.0,230.0,763.0
21,1996,582.0,229.0,784.0
22,1997,602.0,227.0,799.0
23,1998,624.0,227.0,786.0
24,1999,655.0,226.0,801.0
25,2000,705.0,227.0,826.0
26,2001,808.0,226.0,840.0
27,2002,859.0,227.0,872.0
28,2003,882.0,227.0,896.0
29,2004,908.0,231.0,946.0
30,2005,934.0,232.0,972.0
31,2006,971.0,240.0,1003.0
32,2007,1008.0,254.0,1036.0
33,2008,1047.0,261.0,1076.0
34,2009,1032.0,262.0,1079.0
35,2010,1044.0,266.0,1103.0
36,2011,1016.0,273.0,1135.0
37,2012,1018.0,280.0,1158.0
38,2013,1024.0,285.0,1161.0
39,2014,1030.0,290.0,1165.0
40,2015,1036.0,294.0,1169.0
41,2016,1041.0,301.0,1173.0

## TOTAL CONSTRUCTION

In [23]:
# Default values to Total Construction
# INDEX = 2001 
# Range = 2001 to 2022
# Period = years

#Ireland_Construction_Total_Construction_Quarter_PRCNTO01IEQ659S.csv  - INDEX = Growth rate same period previous year
#Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv  - INDEX = 2015
#Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv    - INDEX = 2015

#opening datasets with construction Total values
df_Ireland_Construction_Total = pd.read_csv('Ireland_Construction_Total_Construction_Quarter_PRCNTO01IEQ659S.csv') 
df_Germany_Construction_Total = pd.read_csv("Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv");
df_Italy_Construction_Total = pd.read_csv("Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv");

### Ireland Total Construction

In [25]:
#IRELAND TOTAL CONSTRUCTION

df_Ireland_Construction_Total = pd.read_csv('Ireland_Construction_Total_Construction.csv') 

#Remove the different years from 2001 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Ireland_Construction_Total.iterrows():
    df_Ireland_Construction_Total.at[i,'Year'] = df_Ireland_Construction_Total.at[i,'DATE'][0:4]
    df_Ireland_Construction_Total.at[i,'Month'] = df_Ireland_Construction_Total.at[i,'DATE'][5:7]    
    #if int(df_Ireland_Construction_Total.at[i,'Year']) < 2001 or int(df_Ireland_Construction_Total.at[i,'Year']) > 2022 or int(df_Ireland_Construction_Total.at[i,'Month']) < 10:
    #    df_Ireland_Construction_Total.drop(i, inplace=True)


#Rename Colloumn as a main value
df_Ireland_Construction_Total = df_Ireland_Construction_Total.rename({'PRCNTO01IEQ657S': 'Ireland_Construction_Total'}, axis=1)
df_Ireland_Construction_Total = df_Ireland_Construction_Total.rename({'DATE': 'Date'}, axis=1)

    
#Recalc the index to be 1975 instead 2015

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
previousValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Ireland_Construction_Total.iterrows():
    if int(row['Year']) == 2001 and int(row['Month']) == 1: #set the value of 100 (new index) and capture the old first value
        #previousValue = float(row['Ireland_Construction_Total'])
        previousValue = float(100)
        df_Ireland_Construction_Total.at[i,'Ireland_Construction_Total'] = 100
    else:
        #calculating the new percentage based on a new base index in 2001 = 100
        newValue = (float(row['Ireland_Construction_Total'])/100 * previousValue) + previousValue
        previousValue = newValue
        df_Ireland_Construction_Total.at[i,'Ireland_Construction_Total'] = newValue


# Reset Index to equalize after the drops
df_Ireland_Construction_Total.reset_index(drop=True, inplace=True)
        
#Removing the uselles collumns from our datset
#df_Ireland_Construction_Total = df_Ireland_Construction_Total.drop('DATE', axis=1)
df_Ireland_Construction_Total = df_Ireland_Construction_Total.drop('Month', axis=1)

In [26]:
pd.set_option('display.max_rows', None)
df_Ireland_Construction_Total

          Date  Ireland_Construction_Total  Year
0   2000-04-01                    0.000000  2000
1   2000-07-01                    0.000000  2000
2   2000-10-01                    0.000000  2000
3   2001-01-01                  100.000000  2001
4   2001-04-01                  102.977554  2001
5   2001-07-01                  100.641319  2001
6   2001-10-01                  104.031150  2001
7   2002-01-01                  103.664682  2002
8   2002-04-01                  101.053596  2002
9   2002-07-01                  104.626661  2002
10  2002-10-01                  106.550618  2002
11  2003-01-01                  107.833257  2003
12  2003-04-01                  106.917087  2003
13  2003-07-01                  114.521301  2003
14  2003-10-01                  117.224004  2003
15  2004-01-01                  136.875859  2004
16  2004-04-01                  145.350435  2004
17  2004-07-01                  140.494732  2004
18  2004-10-01                  135.180944  2004
19  2005-01-01                  141.731562  2005
20  2005-04-01                  154.008246  2005
21  2005-07-01                  157.993587  2005
22  2005-10-01                  158.268438  2005
23  2006-01-01                  159.230417  2006
24  2006-04-01                  154.420522  2006
25  2006-07-01                  156.939991  2006
26  2006-10-01                  159.092991  2006
27  2007-01-01                  148.740266  2007
28  2007-04-01                  144.709116  2007
29  2007-07-01                  130.737517  2007
30  2007-10-01                  120.430600  2007
31  2008-01-01                  113.192854  2008
32  2008-04-01                  103.710490  2008
33  2008-07-01                   90.471828  2008
34  2008-10-01                   81.126890  2008
35  2009-01-01                   71.415483  2009
36  2009-04-01                   63.994503  2009
37  2009-07-01                   61.016949  2009
38  2009-10-01                   51.855245  2009
39  2010-01-01                   45.716903  2010
40  2010-04-01                   45.304627  2010
41  2010-07-01                   42.601924  2010
42  2010-10-01                   38.937242  2010
43  2011-01-01                   36.188731  2011
44  2011-04-01                   34.951901  2011
45  2011-07-01                   35.868071  2011
46  2011-10-01                   37.150710  2011
47  2012-01-01                   35.455795  2012
48  2012-04-01                   33.440220  2012
49  2012-07-01                   33.760880  2012
50  2012-10-01                   35.547412  2012
51  2013-01-01                   37.288136  2013
52  2013-04-01                   37.700412  2013
53  2013-07-01                   39.578562  2013
54  2013-10-01                   39.624370  2013
55  2014-01-01                   41.365094  2014
56  2014-04-01                   42.372881  2014
57  2014-07-01                   41.868988  2014
58  2014-10-01                   43.701328  2014
59  2015-01-01                   46.633074  2015
60  2015-04-01                   46.770499  2015
61  2015-07-01                   44.159414  2015
62  2015-10-01                   46.083372  2015
63  2016-01-01                   46.587265  2016
64  2016-04-01                   49.931287  2016
65  2016-07-01                   52.313330  2016
66  2016-10-01                   52.038479  2016
67  2017-01-01                   56.069629  2017
68  2017-04-01                   55.703161  2017
69  2017-07-01                   56.161246  2017
70  2017-10-01                   59.367842  2017
71  2018-01-01                   61.566651  2018
72  2018-04-01                   61.429226  2018
73  2018-07-01                   62.849290  2018
74  2018-10-01                   64.681631  2018
75  2019-01-01                   64.544205  2019
76  2019-04-01                   64.956482  2019
77  2019-07-01                   66.284929  2019
78  2019-10-01                   68.850206  2019
79  2020-01-01                   72.881356  2020
80  2020-04-01                   43.655520  2020
81  2020-07-01                   60.787907  2020
82  2020-10-01                   64.269354  2020
83  2021-01-01                   50.389372  2021
84  2021-04-01                   56.390289  2021
85  2021-07-01                   60.375630  2021
86  2021-10-01                   64.406780  2021
87  2022-01-01                   62.070545  2022
88  2022-04-01                   60.238204  2022
89  2022-07-01                   59.138800  2022
90  2022-10-01                   57.306459  2022

In [27]:


#Convert Year to Int type
df_Ireland_Construction_Total['Year'] = df_Ireland_Construction_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Ireland_Construction_Total['Ireland_Construction_Total'] = round(df_Ireland_Construction_Total['Ireland_Construction_Total'], 0).astype(float);

In [28]:
df_Ireland_Construction_Total

          Date  Ireland_Construction_Total  Year
0   2000-04-01                         0.0  2000
1   2000-07-01                         0.0  2000
2   2000-10-01                         0.0  2000
3   2001-01-01                       100.0  2001
4   2001-04-01                       103.0  2001
5   2001-07-01                       101.0  2001
6   2001-10-01                       104.0  2001
7   2002-01-01                       104.0  2002
8   2002-04-01                       101.0  2002
9   2002-07-01                       105.0  2002
10  2002-10-01                       107.0  2002
11  2003-01-01                       108.0  2003
12  2003-04-01                       107.0  2003
13  2003-07-01                       115.0  2003
14  2003-10-01                       117.0  2003
15  2004-01-01                       137.0  2004
16  2004-04-01                       145.0  2004
17  2004-07-01                       140.0  2004
18  2004-10-01                       135.0  2004
19  2005-01-01                       142.0  2005
20  2005-04-01                       154.0  2005
21  2005-07-01                       158.0  2005
22  2005-10-01                       158.0  2005
23  2006-01-01                       159.0  2006
24  2006-04-01                       154.0  2006
25  2006-07-01                       157.0  2006
26  2006-10-01                       159.0  2006
27  2007-01-01                       149.0  2007
28  2007-04-01                       145.0  2007
29  2007-07-01                       131.0  2007
30  2007-10-01                       120.0  2007
31  2008-01-01                       113.0  2008
32  2008-04-01                       104.0  2008
33  2008-07-01                        90.0  2008
34  2008-10-01                        81.0  2008
35  2009-01-01                        71.0  2009
36  2009-04-01                        64.0  2009
37  2009-07-01                        61.0  2009
38  2009-10-01                        52.0  2009
39  2010-01-01                        46.0  2010
40  2010-04-01                        45.0  2010
41  2010-07-01                        43.0  2010
42  2010-10-01                        39.0  2010
43  2011-01-01                        36.0  2011
44  2011-04-01                        35.0  2011
45  2011-07-01                        36.0  2011
46  2011-10-01                        37.0  2011
47  2012-01-01                        35.0  2012
48  2012-04-01                        33.0  2012
49  2012-07-01                        34.0  2012
50  2012-10-01                        36.0  2012
51  2013-01-01                        37.0  2013
52  2013-04-01                        38.0  2013
53  2013-07-01                        40.0  2013
54  2013-10-01                        40.0  2013
55  2014-01-01                        41.0  2014
56  2014-04-01                        42.0  2014
57  2014-07-01                        42.0  2014
58  2014-10-01                        44.0  2014
59  2015-01-01                        47.0  2015
60  2015-04-01                        47.0  2015
61  2015-07-01                        44.0  2015
62  2015-10-01                        46.0  2015
63  2016-01-01                        47.0  2016
64  2016-04-01                        50.0  2016
65  2016-07-01                        52.0  2016
66  2016-10-01                        52.0  2016
67  2017-01-01                        56.0  2017
68  2017-04-01                        56.0  2017
69  2017-07-01                        56.0  2017
70  2017-10-01                        59.0  2017
71  2018-01-01                        62.0  2018
72  2018-04-01                        61.0  2018
73  2018-07-01                        63.0  2018
74  2018-10-01                        65.0  2018
75  2019-01-01                        65.0  2019
76  2019-04-01                        65.0  2019
77  2019-07-01                        66.0  2019
78  2019-10-01                        69.0  2019
79  2020-01-01                        73.0  2020
80  2020-04-01                        44.0  2020
81  2020-07-01                        61.0  2020
82  2020-10-01                        64.0  2020
83  2021-01-01                        50.0  2021
84  2021-04-01                        56.0  2021
85  2021-07-01                        60.0  2021
86  2021-10-01                        64.0  2021
87  2022-01-01                        62.0  2022
88  2022-04-01                        60.0  2022
89  2022-07-01                        59.0  2022
90  2022-10-01                        57.0  2022

### Germany Total Construction

In [29]:
#GERMANY TOTAL CONSTRUCTION

df_Germany_Construction_Total = pd.read_csv("Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv")

#Remove the different years from 1975 to 2016:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Construction_Total.iterrows():
    df_Germany_Construction_Total.at[i,'Year'] = df_Germany_Construction_Total.at[i,'DATE'][0:4]
    df_Germany_Construction_Total.at[i,'Month'] = df_Germany_Construction_Total.at[i,'DATE'][5:7]
    #if int(df_Germany_Construction_Total.at[i,'Year']) < 2001 or int(df_Germany_Construction_Total.at[i,'Year']) > 2022 or (int(df_Germany_Construction_Total.at[i,'Month']) > 10 and int(df_Germany_Construction_Total.at[i,'Year']) == 2022):
    if int(df_Germany_Construction_Total.at[i,'Year']) < 2001 or int(df_Germany_Construction_Total.at[i,'Year']) > 2022 or int(df_Germany_Construction_Total.at[i,'Month']) < 12:
        df_Germany_Construction_Total.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Germany_Construction_Total = df_Germany_Construction_Total.drop('DATE', axis=1)
df_Germany_Construction_Total = df_Germany_Construction_Total.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Germany_Construction_Total = df_Germany_Construction_Total.rename({'DEUPROCONMISMEI': 'Germany_Construction_Total'}, axis=1)
#df_Germany_Construction_Total = df_Germany_Construction_Total.rename({'DATE': 'Date'}, axis=1)

#Recalc the index to be 1975 instead 2015

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Construction_Total.iterrows():
    if int(row['Year']) == 2001: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Germany_Construction_Total'])
        df_Germany_Construction_Total.at[i,'Germany_Construction_Total'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Germany_Construction_Total']) * 100 / firstValue
        df_Germany_Construction_Total.at[i,'Germany_Construction_Total'] = newValue

# Reset Index to equalize after the drops
df_Germany_Construction_Total.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Germany_Construction_Total['Year'] = df_Germany_Construction_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Germany_Construction_Total['Germany_Construction_Total'] = round(df_Germany_Construction_Total['Germany_Construction_Total'], 0).astype(float);

In [30]:
df_Germany_Construction_Total

    Germany_Construction_Total  Year
0                        100.0  2001
1                         89.0  2002
2                         92.0  2003
3                         85.0  2004
4                         85.0  2005
5                         94.0  2006
6                         90.0  2007
7                         90.0  2008
8                         90.0  2009
9                         78.0  2010
10                       101.0  2011
11                        99.0  2012
12                       111.0  2013
13                       111.0  2014
14                       114.0  2015
15                       117.0  2016
16                       120.0  2017
17                       131.0  2018
18                       138.0  2019
19                       141.0  2020
20                       142.0  2021
21                       134.0  2022

### Italy Total Contruction

In [32]:
#ITALY TOTAL CONSTRUCTION

df_Italy_Construction_Total = pd.read_csv("Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv");

#Remove the different years from 2001 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Construction_Total.iterrows():
    df_Italy_Construction_Total.at[i,'Year'] = df_Italy_Construction_Total.at[i,'DATE'][0:4]
    df_Italy_Construction_Total.at[i,'Month'] = df_Italy_Construction_Total.at[i,'DATE'][5:7]
    if int(df_Italy_Construction_Total.at[i,'Year']) < 2001 or int(df_Italy_Construction_Total.at[i,'Year']) > 2022 or int(df_Italy_Construction_Total.at[i,'Month']) < 10:
        df_Italy_Construction_Total.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Italy_Construction_Total = df_Italy_Construction_Total.drop('DATE', axis=1)
df_Italy_Construction_Total = df_Italy_Construction_Total.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Italy_Construction_Total = df_Italy_Construction_Total.rename({'ITAPROCONQISMEI': 'Italy_Construction_Total'}, axis=1)
#df_Italy_Construction_Total = df_Italy_Construction_Total.rename({'DATE': 'Date'}, axis=1)

#Recalc the index to be 1975 instead 2015

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Construction_Total.iterrows():
    if int(row['Year']) == 2001: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Italy_Construction_Total'])
        df_Italy_Construction_Total.at[i,'Italy_Construction_Total'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Italy_Construction_Total']) * 100 / firstValue
        df_Italy_Construction_Total.at[i,'Italy_Construction_Total'] = newValue

# Reset Index to equalize after the drops
df_Italy_Construction_Total.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Italy_Construction_Total['Year'] = df_Italy_Construction_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Italy_Construction_Total['Italy_Construction_Total'] = round(df_Italy_Construction_Total['Italy_Construction_Total'], 0).astype(float);

In [33]:
df_Italy_Construction_Total

    Italy_Construction_Total  Year
0                      100.0  2001
1                      108.0  2002
2                      105.0  2003
3                      107.0  2004
4                      110.0  2005
5                      121.0  2006
6                      119.0  2007
7                      110.0  2008
8                      102.0  2009
9                      101.0  2010
10                      95.0  2011
11                      81.0  2012
12                      74.0  2013
13                      70.0  2014
14                      70.0  2015
15                      70.0  2016
16                      72.0  2017
17                      72.0  2018
18                      73.0  2019
19                      76.0  2020
20                      90.0  2021
21                      95.0  2022

# Data Visualization

# Statistical Analysis

# Machine Learning