### Import Libraries

In [1]:
#IMPORT LIBRARIES

import pandas as pd  # library used for data science/data analysis and machine learning tasks
import numpy as np  # library used for working with arrays, math functions, linear algebra, fourier transform, matrices, and others.
import seaborn as sns  # library for making statistical graphics in Python.
import matplotlib.pyplot as plt  # library for plot visualizations

# command for drawing  plots immediately after the current cell (show more than only one graph)
%matplotlib inline 

import os  # used here to access filedir functions
import datetime  # functions for manipulating date
import random  # functions for generating or manipulating random integers

#from scipy.stats import poisson  # Statistic poisson library

# Scikit-learn is a machine learning library. Contains functions for regression, classification and clustering algorithms.
#from sklearn import linear_model
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import r2_score

# Remove Warnings 
import warnings
warnings.filterwarnings('ignore')

# print the entire dataframe
pd.set_option('display.max_rows', None)

.

# Data Undersanding

### House Construction Cost

In [2]:
#Ireland_Construction_Cost_Index_HSA09.20230502094108.csv - INDEX = Jan/1991
#Germany_Construction_Cost_Index_OPCNRE01DEQ661N.csv      - INDEX = 2015
#Italy_Construction_Cost_Index_OPCNRE01ITM661N.csv        - INDEX = 2015

#opening datasets with construction cost values
df_Ireland_Construction_Cost = pd.read_csv('Ireland_Construction_Cost_Index_HSA09.20230502094114.csv') 
df_Germany_Construction_Cost = pd.read_csv("Germany_Construction_Cost_Index_OPCNRE01DEQ661N.csv");
df_Italy_Construction_Cost = pd.read_csv("Italy_Construction_Cost_Index_OPCNRE01ITM661N.csv");

FileNotFoundError: [Errno 2] No such file or directory: 'Ireland_Construction_Cost_Index_HSA09.20230502094114.csv'

In [ ]:
df_Ireland_Construction_Cost

In [ ]:
df_Germany_Construction_Cost

In [ ]:
df_Italy_Construction_Cost

### Total Construction

In [ ]:
#Ireland_Construction_Total_Construction_Quarter_PRCNTO01IEQ659S.csv  - INDEX = Growth rate same period previous year
#Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv  - INDEX = 2015
#Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv    - INDEX = 2015

#opening datasets with construction Total values
df_Ireland_Construction_Total = pd.read_csv('Ireland_Construction_Total_Construction_Quarter_PRCNTO01IEQ659S.csv') 
df_Germany_Construction_Total = pd.read_csv("Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv");
df_Italy_Construction_Total = pd.read_csv("Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv");

In [ ]:
df_Ireland_Construction_Total

In [ ]:
df_Germany_Construction_Total

In [ ]:
df_Italy_Construction_Total

### Construction Employment

In [ ]:
#Ireland_Construction_Employment_LFEACNTTIEQ647S.csv
#Germany_Construction_Employment_LFEACNTTDEQ647S.csv
#Italy_Construction_Employment_LFEACNTTITQ647S.csv

#opening datasets with construction employment values
df_Ireland_Construction_Employment = pd.read_csv('Ireland_Construction_Employment_LFEACNTTIEQ647S.csv') 
df_Germany_Construction_Employment = pd.read_csv("Germany_Construction_Employment_LFEACNTTDEQ647S.csv");
df_Italy_Construction_Employment = pd.read_csv("Italy_Construction_Employment_LFEACNTTITQ647S.csv");

In [ ]:
df_Ireland_Construction_Employment

In [ ]:
df_Germany_Construction_Employment

In [ ]:
df_Italy_Construction_Employment

# Data Preparation

.

## House Construction Cost

.

In [ ]:
# Default values to House Construction Cost
# INDEX = 1975 
# Range = 1975 to 2016
# Period = years

### Ireland Construction Cost

In [ ]:
#IRELAND HOUSE CONSTRUCTION COST

df_Ireland_Construction_Cost = pd.read_csv('Ireland_Construction_Cost_Index_HSA09.20230502094114.csv') 

#Removing the uselles collumns from our datset
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('STATISTIC', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('STATISTIC Label', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('TLIST(A1)', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('C02196V02652', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('UNIT', axis=1)
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.drop('State', axis=1)

#Rename Colloumn as a main value
df_Ireland_Construction_Cost = df_Ireland_Construction_Cost.rename({'VALUE': 'Ireland_Construction_Cost'}, axis=1)

#Recalc the index to be 1975 instead 1991

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Ireland_Construction_Cost.iterrows():
    if int(row['Year']) == 1975: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Ireland_Construction_Cost'])
        df_Ireland_Construction_Cost.at[i,'Ireland_Construction_Cost'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Ireland_Construction_Cost']) * 100 / firstValue
        df_Ireland_Construction_Cost.at[i,'Ireland_Construction_Cost'] = newValue

# Reset Index to equalize after the drops
df_Ireland_Construction_Cost.reset_index(drop=True, inplace=True) 
 
#Convert Year to Int type
df_Ireland_Construction_Cost['Year'] = df_Ireland_Construction_Cost['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Ireland_Construction_Cost['Ireland_Construction_Cost'] = round(df_Ireland_Construction_Cost['Ireland_Construction_Cost'], 0).astype(float);

In [ ]:
df_Ireland_Construction_Cost

### Germany Construction Cost

In [ ]:
#GERMANY HOUSE CONSTRUCTION COST

df_Germany_Construction_Cost = pd.read_csv("Germany_Construction_Cost_Index_OPCNRE01DEQ661N.csv");

#Remove the different years from 1975 to 2016:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Construction_Cost.iterrows():
    df_Germany_Construction_Cost.at[i,'Year'] = df_Germany_Construction_Cost.at[i,'DATE'][0:4]
    df_Germany_Construction_Cost.at[i,'Month'] = df_Germany_Construction_Cost.at[i,'DATE'][5:7]
    if int(df_Germany_Construction_Cost.at[i,'Year']) < 1975 or int(df_Germany_Construction_Cost.at[i,'Year']) > 2016 or int(df_Germany_Construction_Cost.at[i,'Month']) < 10:
        df_Germany_Construction_Cost.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Germany_Construction_Cost = df_Germany_Construction_Cost.drop('DATE', axis=1)
df_Germany_Construction_Cost = df_Germany_Construction_Cost.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Germany_Construction_Cost = df_Germany_Construction_Cost.rename({'OPCNRE01DEQ661N': 'Germany_Construction_Cost'}, axis=1)
df_Germany_Construction_Cost = df_Germany_Construction_Cost.rename({'DATE': 'Year'}, axis = 1)

#Recalc the index to be 1975 instead 2015

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Construction_Cost.iterrows():
    if int(row['Year']) == 1975: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Germany_Construction_Cost'])
        df_Germany_Construction_Cost.at[i,'Germany_Construction_Cost'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Germany_Construction_Cost']) * 100 / firstValue
        df_Germany_Construction_Cost.at[i,'Germany_Construction_Cost'] = newValue

# Reset Index to equalize after the drops
df_Germany_Construction_Cost.reset_index(drop=True, inplace=True)


#Convert Year to Int type
df_Germany_Construction_Cost['Year'] = df_Germany_Construction_Cost['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Germany_Construction_Cost['Germany_Construction_Cost'] = round(df_Germany_Construction_Cost['Germany_Construction_Cost'], 0).astype(float);

In [ ]:
df_Germany_Construction_Cost

### Italy Construction Cost

In [ ]:
#ITALY HOUSE CONSTRUCTION COST

df_Italy_Construction_Cost = pd.read_csv("Italy_Construction_Cost_Index_OPCNRE01ITM661N.csv");

#Remove the different years from 1975 to 2016:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Construction_Cost.iterrows():
    df_Italy_Construction_Cost.at[i,'Year'] = df_Italy_Construction_Cost.at[i,'DATE'][0:4]
    df_Italy_Construction_Cost.at[i,'Month'] = df_Italy_Construction_Cost.at[i,'DATE'][5:7]
    if int(df_Italy_Construction_Cost.at[i,'Year']) < 1975 or int(df_Italy_Construction_Cost.at[i,'Year']) > 2016 or int(df_Italy_Construction_Cost.at[i,'Month']) < 12:
        df_Italy_Construction_Cost.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Italy_Construction_Cost = df_Italy_Construction_Cost.drop('DATE', axis=1)
df_Italy_Construction_Cost = df_Italy_Construction_Cost.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Italy_Construction_Cost = df_Italy_Construction_Cost.rename({'OPCNRE01ITM661N': 'Italy_Construction_Cost'}, axis=1)
df_Italy_Construction_Cost = df_Italy_Construction_Cost.rename({'DATE': 'Year'}, axis=1)

#Recalc the index to be 1975 instead 2015

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Construction_Cost.iterrows():
    if int(row['Year']) == 1975: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Italy_Construction_Cost'])
        df_Italy_Construction_Cost.at[i,'Italy_Construction_Cost'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Italy_Construction_Cost']) * 100 / firstValue
        df_Italy_Construction_Cost.at[i,'Italy_Construction_Cost'] = newValue

# Reset Index to equalize after the drops
df_Italy_Construction_Cost.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Italy_Construction_Cost['Year'] = df_Italy_Construction_Cost['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Italy_Construction_Cost['Italy_Construction_Cost'] = round(df_Italy_Construction_Cost['Italy_Construction_Cost'], 0).astype(float);

In [ ]:
df_Italy_Construction_Cost

### All Countries Construction Cost

In [ ]:
# Now its time to merge the datasets about cost
# 
#df_Ireland_Construction_Cost 
#df_Germany_Construction_Cost 
#df_Italy_Construction_Cost

df1 = pd.DataFrame.merge(df_Ireland_Construction_Cost,df_Germany_Construction_Cost,on='Year')
df_All_Countries_Construction_Cost = pd.DataFrame.merge(df1, df_Italy_Construction_Cost,on='Year')

In [ ]:
df_All_Countries_Construction_Cost

## TOTAL CONSTRUCTION

.

In [ ]:
# Default values to Total Construction
# INDEX = 2001 
# Range = 2001 to 2022
# Period = years

#Ireland_Construction_Total_Construction_Quarter_PRCNTO01IEQ659S.csv  - INDEX = Growth rate same period previous year
#Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv  - INDEX = 2015
#Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv    - INDEX = 2015

#opening datasets with construction Total values
df_Ireland_Construction_Total = pd.read_csv('Ireland_Construction_Total_Construction_Quarter_PRCNTO01IEQ659S.csv') 
df_Germany_Construction_Total = pd.read_csv("Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv");
df_Italy_Construction_Total = pd.read_csv("Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv");

### Ireland Total Construction

In [ ]:
#IRELAND TOTAL CONSTRUCTION

df_Ireland_Construction_Total = pd.read_csv('Ireland_Construction_Total_Construction.csv') 

#Iterate with the dataset to create independent columns year and month based on DATE column
for i, row in df_Ireland_Construction_Total.iterrows():
    df_Ireland_Construction_Total.at[i,'Year'] = df_Ireland_Construction_Total.at[i,'DATE'][0:4]
    df_Ireland_Construction_Total.at[i,'Month'] = df_Ireland_Construction_Total.at[i,'DATE'][5:7]    
    
#Rename column as a main value
df_Ireland_Construction_Total = df_Ireland_Construction_Total.rename({'PRCNTO01IEQ657S': 'Ireland_Construction_Total'}, axis=1)
df_Ireland_Construction_Total = df_Ireland_Construction_Total.rename({'DATE': 'Date'}, axis=1)

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
previousValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Ireland_Construction_Total.iterrows():
    if int(row['Year']) == 2001: #set the value of 100 (new index) and capture the old first value
        previousValue = float(100)
        df_Ireland_Construction_Total.at[i,'Ireland_Construction_Total'] = 100
    else:
        #calculating the new percentage based on a new base index in 2001 = 100
        newValue = (float(row['Ireland_Construction_Total'])/100 * previousValue) + previousValue
        previousValue = newValue
        df_Ireland_Construction_Total.at[i,'Ireland_Construction_Total'] = newValue

#Iterate on our dataset to Remove the useles years
for i, row in df_Ireland_Construction_Total.iterrows():
    if int(df_Ireland_Construction_Total.at[i,'Year']) < 2001 or int(df_Ireland_Construction_Total.at[i,'Year']) > 2022 or int(df_Ireland_Construction_Total.at[i,'Month']) < 10:
        df_Ireland_Construction_Total.drop(i, inplace=True)
        
#Removing the uselles collumns from our datset
df_Ireland_Construction_Total = df_Ireland_Construction_Total.drop('Date', axis=1)
df_Ireland_Construction_Total = df_Ireland_Construction_Total.drop('Month', axis=1)

       
# Reset Index to equalize after the drops
df_Ireland_Construction_Total.reset_index(drop=True, inplace=True)
        
#Convert Year to Int type
df_Ireland_Construction_Total['Year'] = df_Ireland_Construction_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Ireland_Construction_Total['Ireland_Construction_Total'] = round(df_Ireland_Construction_Total['Ireland_Construction_Total'], 0).astype(float);

In [ ]:
df_Ireland_Construction_Total

In [ ]:
#Convert Year to Int type
df_Ireland_Construction_Total['Year'] = df_Ireland_Construction_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Ireland_Construction_Total['Ireland_Construction_Total'] = round(df_Ireland_Construction_Total['Ireland_Construction_Total'], 0).astype(float);

In [ ]:
df_Ireland_Construction_Total

### Germany Total Construction

In [ ]:
#GERMANY TOTAL CONSTRUCTION

df_Germany_Construction_Total = pd.read_csv("Germany_Construction_Total_Construction_Monthly_DEUPROCONMISMEI.csv")

#Remove the different years from 1975 to 2016:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Construction_Total.iterrows():
    df_Germany_Construction_Total.at[i,'Year'] = df_Germany_Construction_Total.at[i,'DATE'][0:4]
    df_Germany_Construction_Total.at[i,'Month'] = df_Germany_Construction_Total.at[i,'DATE'][5:7]
    #if int(df_Germany_Construction_Total.at[i,'Year']) < 2001 or int(df_Germany_Construction_Total.at[i,'Year']) > 2022 or (int(df_Germany_Construction_Total.at[i,'Month']) > 10 and int(df_Germany_Construction_Total.at[i,'Year']) == 2022):
    if int(df_Germany_Construction_Total.at[i,'Year']) < 2001 or int(df_Germany_Construction_Total.at[i,'Year']) > 2022 or int(df_Germany_Construction_Total.at[i,'Month']) < 12:
        df_Germany_Construction_Total.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Germany_Construction_Total = df_Germany_Construction_Total.drop('DATE', axis=1)
df_Germany_Construction_Total = df_Germany_Construction_Total.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Germany_Construction_Total = df_Germany_Construction_Total.rename({'DEUPROCONMISMEI': 'Germany_Construction_Total'}, axis=1)
#df_Germany_Construction_Total = df_Germany_Construction_Total.rename({'DATE': 'Date'}, axis=1)

#Recalc the index to be 1975 instead 2015

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Construction_Total.iterrows():
    if int(row['Year']) == 2001: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Germany_Construction_Total'])
        df_Germany_Construction_Total.at[i,'Germany_Construction_Total'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Germany_Construction_Total']) * 100 / firstValue
        df_Germany_Construction_Total.at[i,'Germany_Construction_Total'] = newValue

# Reset Index to equalize after the drops
df_Germany_Construction_Total.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Germany_Construction_Total['Year'] = df_Germany_Construction_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Germany_Construction_Total['Germany_Construction_Total'] = round(df_Germany_Construction_Total['Germany_Construction_Total'], 0).astype(float);

In [ ]:
df_Germany_Construction_Total

### Italy Total Contruction

In [ ]:
#ITALY TOTAL CONSTRUCTION

df_Italy_Construction_Total = pd.read_csv("Italy_Construction_Total_Construction_Quarter_ITAPROCONQISMEI.csv");

#Remove the different years from 2001 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Construction_Total.iterrows():
    df_Italy_Construction_Total.at[i,'Year'] = df_Italy_Construction_Total.at[i,'DATE'][0:4]
    df_Italy_Construction_Total.at[i,'Month'] = df_Italy_Construction_Total.at[i,'DATE'][5:7]
    if int(df_Italy_Construction_Total.at[i,'Year']) < 2001 or int(df_Italy_Construction_Total.at[i,'Year']) > 2022 or int(df_Italy_Construction_Total.at[i,'Month']) < 10:
        df_Italy_Construction_Total.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Italy_Construction_Total = df_Italy_Construction_Total.drop('DATE', axis=1)
df_Italy_Construction_Total = df_Italy_Construction_Total.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Italy_Construction_Total = df_Italy_Construction_Total.rename({'ITAPROCONQISMEI': 'Italy_Construction_Total'}, axis=1)
#df_Italy_Construction_Total = df_Italy_Construction_Total.rename({'DATE': 'Date'}, axis=1)

#Recalc the index to be 1975 instead 2015

#Setting a new variable to store the old first value, it will be used to calculate new porcentages to others values 
firstValue = float(0)

#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Construction_Total.iterrows():
    if int(row['Year']) == 2001: #set the value of 100 (new index) and capture the old first value
        firstValue = float(row['Italy_Construction_Total'])
        df_Italy_Construction_Total.at[i,'Italy_Construction_Total'] = 100
    else:
        #calculating the new percentage based on a new base index in 1975 = 100
        newValue = float(row['Italy_Construction_Total']) * 100 / firstValue
        df_Italy_Construction_Total.at[i,'Italy_Construction_Total'] = newValue

# Reset Index to equalize after the drops
df_Italy_Construction_Total.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Italy_Construction_Total['Year'] = df_Italy_Construction_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Italy_Construction_Total['Italy_Construction_Total'] = round(df_Italy_Construction_Total['Italy_Construction_Total'], 0).astype(float);

In [ ]:
df_Italy_Construction_Total

### All Countries Total Construction

In [ ]:
#df_Ireland_Construction_Total
#df_Germany_Construction_Total
#df_Italy_Construction_Total

df2 = pd.DataFrame.merge(df_Ireland_Construction_Total, df_Germany_Construction_Total, on='Year')
df_All_Countries_Construction_Total = pd.DataFrame.merge(df2, df_Italy_Construction_Total, on='Year')

In [ ]:
df_All_Countries_Construction_Total

## Construction Employment

In [ ]:
# Default values to Construction Employment 
# Range = 2001 to 2022
# Period = years

#Ireland_Construction_Employment_LFEACNTTIEQ647S.csv  
#Germany_Construction_Employment_LFEACNTTDEQ647S.csv  
#Italy_Construction_Employment_LFEACNTTITQ647S.csv    

#opening datasets with construction Total values
df_Ireland_Construction_Employment = pd.read_csv('Ireland_Construction_Employment_LFEACNTTIEQ647S.csv') 
df_Germany_Construction_Employment = pd.read_csv("Germany_Construction_Employment_LFEACNTTDEQ647S.csv");
df_Italy_Construction_Employment = pd.read_csv("Italy_Construction_Employment_LFEACNTTITQ647S.csv");

### Ireland Construction Employment

In [ ]:
#IRELAND CONSTRUCTION EMPLOYMENT

df_Ireland_Construction_Employment = pd.read_csv('Ireland_Construction_Employment_LFEACNTTIEQ647S.csv') 

#Remove the different years from 2005 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Ireland_Construction_Employment.iterrows():
    df_Ireland_Construction_Employment.at[i,'Year'] = df_Ireland_Construction_Employment.at[i,'DATE'][0:4]
    df_Ireland_Construction_Employment.at[i,'Month'] = df_Ireland_Construction_Employment.at[i,'DATE'][5:7]
    if int(df_Ireland_Construction_Employment.at[i,'Year']) < 2005 or int(df_Ireland_Construction_Employment.at[i,'Year']) > 2022 or int(df_Ireland_Construction_Employment.at[i,'Month']) < 10:
        df_Ireland_Construction_Employment.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Ireland_Construction_Employment = df_Ireland_Construction_Employment.drop('DATE', axis=1)
df_Ireland_Construction_Employment = df_Ireland_Construction_Employment.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Ireland_Construction_Employment = df_Ireland_Construction_Employment.rename({'LFEACNTTIEQ647S': 'Ireland_Construction_Employment'}, axis=1)

# Reset Index to equalize after the drops
df_Ireland_Construction_Employment.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Ireland_Construction_Employment['Year'] = df_Ireland_Construction_Employment['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Ireland_Construction_Employment['Ireland_Construction_Employment'] = round(df_Ireland_Construction_Employment['Ireland_Construction_Employment'], 0).astype(float);

In [ ]:
df_Ireland_Construction_Employment

### Germany Construction Employment

In [ ]:
#GERMANY CONSTRUCTION EMPLOYMENT

df_Germany_Construction_Employment = pd.read_csv("Germany_Construction_Employment_LFEACNTTDEQ647S.csv");

#Remove the different years from 2005 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Construction_Employment.iterrows():
    df_Germany_Construction_Employment.at[i,'Year'] = df_Germany_Construction_Employment.at[i,'DATE'][0:4]
    df_Germany_Construction_Employment.at[i,'Month'] = df_Germany_Construction_Employment.at[i,'DATE'][5:7]
    if int(df_Germany_Construction_Employment.at[i,'Month']) < 10:
        df_Germany_Construction_Employment.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Germany_Construction_Employment = df_Germany_Construction_Employment.drop('DATE', axis=1)
df_Germany_Construction_Employment = df_Germany_Construction_Employment.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Germany_Construction_Employment = df_Germany_Construction_Employment.rename({'LFEACNTTDEQ647S': 'Germany_Construction_Employment'}, axis=1)

# Reset Index to equalize after the drops
df_Germany_Construction_Employment.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Germany_Construction_Employment['Year'] = df_Germany_Construction_Employment['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Germany_Construction_Employment['Germany_Construction_Employment'] = round(df_Germany_Construction_Employment['Germany_Construction_Employment'], 0).astype(float);

In [ ]:
df_Germany_Construction_Employment

### Italy Construction Employment

In [ ]:
#ITALY CONSTRUCTION EMPLOYMENT

df_Italy_Construction_Employment = pd.read_csv("Italy_Construction_Employment_LFEACNTTITQ647S.csv");

#Remove the different years from 2005 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Construction_Employment.iterrows():
    df_Italy_Construction_Employment.at[i,'Year'] = df_Italy_Construction_Employment.at[i,'DATE'][0:4]
    df_Italy_Construction_Employment.at[i,'Month'] = df_Italy_Construction_Employment.at[i,'DATE'][5:7]
    if int(df_Italy_Construction_Employment.at[i,'Year']) < 2005 or int(df_Italy_Construction_Employment.at[i,'Year']) > 2022 or int(df_Italy_Construction_Employment.at[i,'Month']) < 10:
        df_Italy_Construction_Employment.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Italy_Construction_Employment = df_Italy_Construction_Employment.drop('DATE', axis=1)
df_Italy_Construction_Employment = df_Italy_Construction_Employment.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Italy_Construction_Employment = df_Italy_Construction_Employment.rename({'LFEACNTTITQ647S': 'Italy_Construction_Employment'}, axis=1)

# Reset Index to equalize after the drops
df_Italy_Construction_Employment.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Italy_Construction_Employment['Year'] = df_Italy_Construction_Employment['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Italy_Construction_Employment['Italy_Construction_Employment'] = round(df_Italy_Construction_Employment['Italy_Construction_Employment'], 0).astype(float);

In [ ]:
df_Italy_Construction_Employment

### All Countries Construction Employment

In [ ]:
#df_Ireland_Construction_Employment 
#df_Germany_Construction_Employment
#df_Italy_Construction_Employment

df3 = pd.DataFrame.merge(df_Ireland_Construction_Employment, df_Germany_Construction_Employment, on='Year')
df_All_Countries_Construction_Employment = pd.DataFrame.merge(df3, df_Italy_Construction_Employment, on='Year')

In [ ]:
df_All_Countries_Construction_Employment

## Population Total

In [ ]:
# Default values to Construction Employment 
# Range = 2005 to 2022
# Period = years

#Ireland_Population_Total_POPTOTIEA647NWDB.csv  
#Germany_Population_Total_POPTOTDEA647NWDB.csv  
#Italy_Population_Total_POPTOTITA647NWDB.csv    

#opening datasets with construction Total values
#df_Ireland_Population_Total = pd.read_csv('Ireland_Population_Total_POPTOTIEA647NWDB.csv') 
#df_Germany_Population_Total = pd.read_csv("Germany_Population_Total_POPTOTDEA647NWDB.csv");
#df_Italy_Population_Total = pd.read_csv("Italy_Population_Total_POPTOTITA647NWDB.csv");

### Ireland Population Total

In [ ]:
df_Ireland_Population_Total = pd.read_csv("Ireland_Population_Total_POPTOTIEA647NWDB.csv");

#Remove the different years from 2005 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Ireland_Population_Total.iterrows():
    df_Ireland_Population_Total.at[i,'Year'] = df_Ireland_Population_Total.at[i,'DATE'][0:4]
    df_Ireland_Population_Total.at[i,'Month'] = df_Ireland_Population_Total.at[i,'DATE'][5:7]
    if int(df_Ireland_Population_Total.at[i,'Year']) < 2005 or int(df_Ireland_Population_Total.at[i,'Year']) > 2022:
        df_Ireland_Population_Total.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Ireland_Population_Total = df_Ireland_Population_Total.drop('DATE', axis=1)
df_Ireland_Population_Total = df_Ireland_Population_Total.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Ireland_Population_Total = df_Ireland_Population_Total.rename({'POPTOTIEA647NWDB': 'Ireland_Population_Total'}, axis=1)

# Reset Index to equalize after the drops
df_Ireland_Population_Total.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Ireland_Population_Total['Year'] = df_Ireland_Population_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Ireland_Population_Total['Ireland_Population_Total'] = round(df_Ireland_Population_Total['Ireland_Population_Total'], 0).astype(float);

In [ ]:
df_Ireland_Population_Total

### Germany Population Total

In [ ]:
df_Germany_Population_Total = pd.read_csv("Germany_Population_Total_POPTOTDEA647NWDB.csv");

#Remove the different years from 2005 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Population_Total.iterrows():
    df_Germany_Population_Total.at[i,'Year'] = df_Germany_Population_Total.at[i,'DATE'][0:4]
    df_Germany_Population_Total.at[i,'Month'] = df_Germany_Population_Total.at[i,'DATE'][5:7]
    if int(df_Germany_Population_Total.at[i,'Year']) < 2005 or int(df_Germany_Population_Total.at[i,'Year']) > 2022:
        df_Germany_Population_Total.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Germany_Population_Total = df_Germany_Population_Total.drop('DATE', axis=1)
df_Germany_Population_Total = df_Germany_Population_Total.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Germany_Population_Total = df_Germany_Population_Total.rename({'POPTOTDEA647NWDB': 'Germany_Population_Total'}, axis=1)

# Reset Index to equalize after the drops
df_Germany_Population_Total.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Germany_Population_Total['Year'] = df_Germany_Population_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Germany_Population_Total['Germany_Population_Total'] = round(df_Germany_Population_Total['Germany_Population_Total'], 0).astype(float);

In [ ]:
df_Germany_Population_Total

### Italy Population Total

In [ ]:
df_Italy_Population_Total = pd.read_csv("Italy_Population_Total_POPTOTITA647NWDB.csv");

#Remove the different years from 2005 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Population_Total.iterrows():
    df_Italy_Population_Total.at[i,'Year'] = df_Italy_Population_Total.at[i,'DATE'][0:4]
    df_Italy_Population_Total.at[i,'Month'] = df_Italy_Population_Total.at[i,'DATE'][5:7]
    if int(df_Italy_Population_Total.at[i,'Year']) < 2005 or int(df_Italy_Population_Total.at[i,'Year']) > 2022:
        df_Italy_Population_Total.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Italy_Population_Total = df_Italy_Population_Total.drop('DATE', axis=1)
df_Italy_Population_Total = df_Italy_Population_Total.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Italy_Population_Total = df_Italy_Population_Total.rename({'POPTOTITA647NWDB': 'Italy_Population_Total'}, axis=1)

# Reset Index to equalize after the drops
df_Italy_Population_Total.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Italy_Population_Total['Year'] = df_Italy_Population_Total['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Italy_Population_Total['Italy_Population_Total'] = round(df_Italy_Population_Total['Italy_Population_Total'], 0).astype(float);

In [ ]:
df_Italy_Population_Total

## All Countries Total Population

In [ ]:

df4 = pd.DataFrame.merge(df_Ireland_Population_Total, df_Germany_Population_Total, on='Year')
df_All_Countries_Population_Total = pd.DataFrame.merge(df4, df_Italy_Population_Total, on='Year')

In [ ]:
df_All_Countries_Population_Total

## Population Total - Active People

In [ ]:
# Default values to Construction Employment 
# Range = 2005 to 2022
# Period = years

#Ireland_Population_Total_Active_LFAC64TTIEQ647S.csv  
#Germany_Population_Total_Active_LFAC64TTDEQ647S.csv  
#Italy_Population_Total_Active_LFAC64TTITQ647S.csv    

#opening datasets with construction Total values
#df_Ireland_Population_Total_Active = pd.read_csv('Ireland_Population_Total_Active_LFAC64TTIEQ647S.csv') 
#df_Germany_Population_Total_Active = pd.read_csv("Germany_Population_Total_Active_LFAC64TTDEQ647S.csv");
#df_Italy_Population_Total_Active = pd.read_csv("Italy_Population_Total_Active_LFAC64TTITQ647S.csv");

### Ireland Population Total - Active People

In [ ]:
df_Ireland_Population_Total_Active = pd.read_csv('Ireland_Population_Total_Active_LFAC64TTIEQ647S.csv')
df_Ireland_Population_Total_Active

In [ ]:
df_Ireland_Population_Total_Active = pd.read_csv('Ireland_Population_Total_Active_LFAC64TTIEQ647S.csv')

#Remove the different years from 2005 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Ireland_Population_Total_Active.iterrows():
    df_Ireland_Population_Total_Active.at[i,'Year'] = df_Ireland_Population_Total_Active.at[i,'DATE'][0:4]
    df_Ireland_Population_Total_Active.at[i,'Month'] = df_Ireland_Population_Total_Active.at[i,'DATE'][5:7]
    if int(df_Ireland_Population_Total_Active.at[i,'Year']) < 2005 or int(df_Ireland_Population_Total_Active.at[i,'Year']) > 2022 or int(df_Ireland_Population_Total_Active.at[i,'Month']) < 10:
        df_Ireland_Population_Total_Active.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Ireland_Population_Total_Active = df_Ireland_Population_Total_Active.drop('DATE', axis=1)
df_Ireland_Population_Total_Active = df_Ireland_Population_Total_Active.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Ireland_Population_Total_Active = df_Ireland_Population_Total_Active.rename({'LFAC64TTIEQ647S': 'Ireland_Population_Total_Active'}, axis=1)

# Reset Index to equalize after the drops
df_Ireland_Population_Total_Active.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Ireland_Population_Total_Active['Year'] = df_Ireland_Population_Total_Active['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Ireland_Population_Total_Active['Ireland_Population_Total_Active'] = round(df_Ireland_Population_Total_Active['Ireland_Population_Total_Active'], 0).astype(float);

In [ ]:
df_Ireland_Population_Total_Active

### Germany Total Population - Active

In [ ]:
df_Germany_Population_Total_Active = pd.read_csv("Germany_Population_Total_Active_LFAC64TTDEQ647S.csv");

#Remove the different years from 2005 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Germany_Population_Total_Active.iterrows():
    df_Germany_Population_Total_Active.at[i,'Year'] = df_Germany_Population_Total_Active.at[i,'DATE'][0:4]
    df_Germany_Population_Total_Active.at[i,'Month'] = df_Germany_Population_Total_Active.at[i,'DATE'][5:7]
    if int(df_Germany_Population_Total_Active.at[i,'Year']) < 2005 or int(df_Germany_Population_Total_Active.at[i,'Year']) > 2022 or int(df_Germany_Population_Total_Active.at[i,'Month']) < 10:
        df_Germany_Population_Total_Active.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Germany_Population_Total_Active = df_Germany_Population_Total_Active.drop('DATE', axis=1)
df_Germany_Population_Total_Active = df_Germany_Population_Total_Active.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Germany_Population_Total_Active = df_Germany_Population_Total_Active.rename({'LFAC64TTDEQ647S': 'Germany_Population_Total_Active'}, axis=1)

# Reset Index to equalize after the drops
df_Germany_Population_Total_Active.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Germany_Population_Total_Active['Year'] = df_Germany_Population_Total_Active['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Germany_Population_Total_Active['Germany_Population_Total_Active'] = round(df_Germany_Population_Total_Active['Germany_Population_Total_Active'], 0).astype(float);

In [ ]:
df_Germany_Population_Total_Active

### Italy Total Population - Active

In [ ]:
df_Italy_Population_Total_Active = pd.read_csv("Italy_Population_Total_Active_LFAC64TTITQ647S.csv");

#Remove the different years from 2005 to 2022:
#Iterate on our dataset to change all the values with the new porcentages
for i, row in df_Italy_Population_Total_Active.iterrows():
    df_Italy_Population_Total_Active.at[i,'Year'] = df_Italy_Population_Total_Active.at[i,'DATE'][0:4]
    df_Italy_Population_Total_Active.at[i,'Month'] = df_Italy_Population_Total_Active.at[i,'DATE'][5:7]
    if int(df_Italy_Population_Total_Active.at[i,'Year']) < 2005 or int(df_Italy_Population_Total_Active.at[i,'Year']) > 2022 or int(df_Italy_Population_Total_Active.at[i,'Month']) < 10:
        df_Italy_Population_Total_Active.drop(i, inplace=True)

#Removing the uselles collumns from our datset
df_Italy_Population_Total_Active = df_Italy_Population_Total_Active.drop('DATE', axis=1)
df_Italy_Population_Total_Active = df_Italy_Population_Total_Active.drop('Month', axis=1)

#Rename Colloumn as a main value
df_Italy_Population_Total_Active = df_Italy_Population_Total_Active.rename({'LFAC64TTITQ647S': 'Italy_Population_Total_Active'}, axis=1)

# Reset Index to equalize after the drops
df_Italy_Population_Total_Active.reset_index(drop=True, inplace=True)

#Convert Year to Int type
df_Italy_Population_Total_Active['Year'] = df_Italy_Population_Total_Active['Year'].astype(int);
#Convert Construction_Cost to Float type
df_Italy_Population_Total_Active['Italy_Population_Total_Active'] = round(df_Italy_Population_Total_Active['Italy_Population_Total_Active'], 0).astype(float);

In [ ]:
df_Italy_Population_Total_Active

### All Coutries Total Population - Active

In [ ]:
df5 = pd.DataFrame.merge(df_Ireland_Population_Total_Active, df_Germany_Population_Total_Active, on='Year')
df_All_Countries_Population_Total_Active = pd.DataFrame.merge(df5, df_Italy_Population_Total_Active, on='Year')

In [ ]:
df_All_Countries_Population_Total_Active

# Data Visualization

In [ ]:
# HOUSE CONSTRUCTION COST
# df_All_Countries_Construction_Cost

# CONSTRUCTION TOTAL
# df_All_Countries_Construction_Total

# CONSTRUCTION EMPLOYMENT
# df_All_Countries_Construction_Employment

# POPULATION TOTAL
df_All_Countries_Population_Total

#POPULATION TOTAL ACTIVE
df_All_Countries_Population_Total_Active

In [ ]:
# Parameters below will be used to beautify the graphs

# Define the graph style
plt.style.use("seaborn-whitegrid");

# define size and autolayout
# Autolayout: the graph will fit automaticaly on the screen resoltion
plt.rc("figure", autolayout=True, figsize=(11, 4));

# Defining axes atributes of the graph 
plt.rc(
    "axes",
    labelweight = "bold",
    labelsize = "large",
    titleweight = "bold",
    titlesize = 14,
    titlepad = 10,
);
# Defining axes atributes of the graph 
plot_params = dict(
    color = "0.75",
    style = ".-",
    markeredgecolor = "0.25",
    markerfacecolor = "0.25",
    legend = False,
);

# Command to autoformat date axis
plt.gcf().autofmt_xdate();

# format the graph as retina style
%config InlineBackend.figure_format = 'retina';

## House Construction Cost

In [ ]:
#PLOTTING GRAPH 

#Groupby to group the data by ages and summarize values of them
#df_groupby = df_all_CSV.groupby('Date')['Adults Aged 18-24', 'Adults Aged 25-44', 'Adults Aged 45-64', 'Adults Aged 65+'].sum().reset_index();

# create figure and axis objects with subplots()
fig, ax = plt.subplots();

# Ploting graph lines
ax.plot(df_All_Countries_Construction_Cost['Year'], df_All_Countries_Construction_Cost['Ireland_Construction_Cost'], label='Ireland');  # Plot first line of data.
ax.plot(df_All_Countries_Construction_Cost['Year'], df_All_Countries_Construction_Cost['Germany_Construction_Cost'], label='Germany');  # Plot second line of data
ax.plot(df_All_Countries_Construction_Cost['Year'], df_All_Countries_Construction_Cost['Italy_Construction_Cost'], label='Italy');  # Plot 3th line of data

ax.set_xlabel('Year');  # Add an x-label to the axes.
ax.set_ylabel('Cost Increase %');  # Add a y-label to the axes.
ax.set_title("House Counstruction Cost: Percentage Increase");  # Add a title to the axes.
ax.legend(loc="right", bbox_to_anchor=(1.15, 0.5)) # Better positioning the legend

## Total Construction

In [ ]:
#PLOTTING GRAPH 

# create figure and axis objects with subplots()
fig, ax = plt.subplots();

# Ploting graph lines
ax.plot(df_All_Countries_Construction_Total['Year'], df_All_Countries_Construction_Total['Ireland_Construction_Total'], label='Ireland');  # Plot first line of data.
ax.plot(df_All_Countries_Construction_Total['Year'], df_All_Countries_Construction_Total['Germany_Construction_Total'], label='Germany');  # Plot second line of data
ax.plot(df_All_Countries_Construction_Total['Year'], df_All_Countries_Construction_Total['Italy_Construction_Total'], label='Italy');  # Plot 3th line of data

ax.set_xlabel('Year');  # Add an x-label to the axes.
ax.set_ylabel('Production Increase %');  # Add a y-label to the axes.
ax.set_title("House Counstruction Total: Percentage Increase");  # Add a title to the axes.
ax.legend(loc="right", bbox_to_anchor=(1.15, 0.5)) # Better positioning the legend

## Construction Employment

In [ ]:
df_All_Countries_Construction_Employment

In [ ]:
#PLOTTING GRAPH 

# create figure and axis objects with subplots()
fig, ax = plt.subplots();

# Ploting graph lines
ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Ireland_Construction_Employment'], label='Ireland');  # Plot first line of data.
ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Germany_Construction_Employment'], label='Germany');  # Plot second line of data
ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Italy_Construction_Employment'], label='Italy');  # Plot 3th line of data

ax.set_xlabel('Year');  # Add an x-label to the axes.
ax.set_ylabel('Employment');  # Add a y-label to the axes.
ax.set_title("Total Counstruction Employment");  # Add a title to the axes.
ax.legend(loc="right", bbox_to_anchor=(1.15, 0.5)) # Better positioning the legend

### Construction Employment - Per Population

In [ ]:
#Application of the per 1000 rate = Employment / Population * 1000
#RPO = E/P*1000

#df_All_Countries_Population_Total

#PLOTTING GRAPH 

# create figure and axis objects with subplots()
fig, ax = plt.subplots();

# Ploting graph lines
ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Ireland_Construction_Employment'] / df_All_Countries_Population_Total['Ireland_Population_Total'] * 1000, label='Ireland');  # Plot first line of data.
ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Germany_Construction_Employment'] / df_All_Countries_Population_Total['Germany_Population_Total'] * 1000, label='Germany');  # Plot second line of data
ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Italy_Construction_Employment'] / df_All_Countries_Population_Total['Italy_Population_Total'] * 1000, label='Italy');  # Plot 3th line of data

#ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Ireland_Construction_Employment'], label='Ireland');  # Plot first line of data.
#ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Germany_Construction_Employment'], label='Germany');  # Plot second line of data
#ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Italy_Construction_Employment'], label='Italy');  # Plot 3th line of data

ax.set_xlabel('Year');  # Add an x-label to the axes.
ax.set_ylabel('Employment per 1000');  # Add a y-label to the axes.
ax.set_title("Total Counstruction Employment per 1000");  # Add a title to the axes.
ax.legend(loc="right", bbox_to_anchor=(1.15, 0.5)) # Better positioning the legend

### Contruction Employment per Active Population

In [ ]:
#Application of the per 1000 rate = Employment / Population * 1000
#RPO = E/P*1000

#df_All_Countries_Population_Total

#PLOTTING GRAPH 

# create figure and axis objects with subplots()
fig, ax = plt.subplots();

# Ploting graph lines
ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Ireland_Construction_Employment'] / df_All_Countries_Population_Total_Active['Ireland_Population_Total_Active'] * 1000, label='Ireland');  # Plot first line of data.
ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Germany_Construction_Employment'] / df_All_Countries_Population_Total_Active['Germany_Population_Total_Active'] * 1000, label='Germany');  # Plot second line of data
ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Italy_Construction_Employment'] / df_All_Countries_Population_Total_Active['Italy_Population_Total_Active'] * 1000, label='Italy');  # Plot 3th line of data

#ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Ireland_Construction_Employment'], label='Ireland');  # Plot first line of data.
#ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Germany_Construction_Employment'], label='Germany');  # Plot second line of data
#ax.plot(df_All_Countries_Construction_Employment['Year'], df_All_Countries_Construction_Employment['Italy_Construction_Employment'], label='Italy');  # Plot 3th line of data

ax.set_xlabel('Year');  # Add an x-label to the axes.
ax.set_ylabel('Employment per 1000');  # Add a y-label to the axes.
ax.set_title("Total Counstruction Employment per 1000");  # Add a title to the axes.
ax.legend(loc="right", bbox_to_anchor=(1.15, 0.5)) # Better positioning the legend

# Statistical Analysis

# Machine Learning